@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;
 
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
 
    --border: 0 0% 90%;
    --input: 0 0% 90%;
 
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
 
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 65%;
 
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 240 5% 96%;
 
    --muted:  240 4% 46%;
    --muted-foreground: 240 5% 96%;
 
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 65%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
 
    --border: 240 5% 26%;
    --input: 240 5% 26%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 240 6% 10%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 5% 26%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 26%;
 
    --radius: 0.75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.iframe-block iframe {
  @apply w-full h-full;
}

/* Lit Protocol Signing Modal */
#lcm-modal-overlay {
  z-index: 51;
}